{% extends "../index.html" %}
{% import "../../widgets/navbar/navbar.html" as navbar %}
{% import "../../widgets/copyright/copyright.html" as copyright %}
{% import "./utils/home_carousel/home_carousel.html" as home_carousel %}

{% block title %}Revolution - Home{% endblock %}

{% block CSS %}
	<!-- Bootstrap Core CSS -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font -->
    <link href="/css/user/font.css" rel="stylesheet" type='text/css'>

    <!-- <link href="/css/user/bootstrap.min.css" rel="stylesheet"> -->

    <!-- User CSS -->
    <link href="/css/user/style.css" rel="stylesheet">
{% endblock %}

{% block content %}
    {{ navbar.main(home["active_navbar"]) }}

    <div class="container">
        <div class="col-sm-6">
            {{ home_carousel.main("Hot", home["Hot"]) }}
        </div>
        
        <div class="col-sm-6">
            {{ home_carousel.main("Trending", home["Trending"]) }}
        </div>
    </div>
    
    <section class="section-title">
        <h2>New Release</h2>
    </section>
    
    <div class="container text-left">
        {% for data in home["NewRelease"] %}
            {% if loop.index0 % 3 == 0 %}<div class="row">{% endif %}
                <div class="col-sm-4">
                    <div class="col-sm-4">
                        <div class="video">
                            <img src="/img/{{ data['album_image_filename'] if data['album_image_originalname'] != 'No Image' else 'No Image.jpg' }}" class="img-responsive">
                        </div>
                    </div>
                    <div class="deskripsi">
                        <p>{{ data["music_title"] }}</p>
                        <p>{{ data["music_singer"] }}</p>
                    </div>
                </div>
            {% if loop.index0 % 3 == 2 or loop.last == true %}</div>{% endif %}
        {% endfor %}
    </div>
    
    {{ copyright.main() }}
{% endblock %}

{% block JS %}
	<!-- jQuery -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
{% endblock %}