.navbar{
	border-radius: 0;
	margin-bottom: 0px;
}
.container{
	margin-left: 8%;
	margin-right: 8%;
}
.carousel-control{
	width: 8%;
}
.col-sm-4{
	margin-top: 2%;
	margin-bottom: 2%;
}
.video{
	float:left;
}
.deskripsi{
	float:left;
	padding-left: 4%;
}
.nav-tabs{
	border-bottom: transparent;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	border:transparent;
	border-bottom: 1px solid blue;
}
.container-fluid{
	background-color:black;
}
.tmpplay{
	width: 82%;
    margin-left: 10%;
    margin-top: 1%;
}
#plyer{
	margin-left: 0.5%;
}
#jdlply{
	float:left;
    margin: 1%;

}
#btnlike{
	float:right;
    margin: 1%;
}
.contplay{
	width:97%;
	margin-left: 0.5%;
	float: left;
}
.contplay1{
	clear:both;
	margin-left: 0.5%;
}
#btnlirik{
	clear:both;
	margin-left: 0.5%;
}
#btnlirik:after {
    font-family: "Glyphicons Halflings";
    content: "\e114";
	float: right;
    margin-left: 15px;
}
#btnlirik.collapsed:after {
    content: "\e113";
}
#lirik{
	margin-left: 0.5%;
}
#plylist{
	margin:1%;
}
#footerone{
	float:left;
	width:40%;
}
#footertwo{
	float:left;
	width:50%;
}