{% extends "../index.html" %}
{% import "../../widgets/header/header.html" as header %}

{% block title %}Home{% endblock %}

{% block CSS %}
	<!-- Bootstrap Core CSS -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/node_modules/metismenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="/css/admin/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/admin/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <!-- <link href="/node_modules/morris.js/morris.css" rel="stylesheet"> -->

    <!-- Custom Fonts -->
    <link href="/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock %}

{% block content %}
    <div id="wrapper">
        {{ header.main(home["header"]) }}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Home</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-info">
                        Fungsi Add dibawah hanya untuk menambahkan List View dan Like sekarang ke column View dan Like pada tabel Music List
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-eye fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ home["total_view"] }}</div>
                                    <div>Last View</div>
                                </div>
                            </div>
                        </div>
                        <a href="#listview" id="listview">
                            <div class="panel-footer">
                                <span class="pull-left">Add to Music List View</span>
                                <span class="pull-right"><i class="fa fa-plus-circle"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-heart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ home["total_like"] }}</div>
                                    <div>Last Like</div>
                                </div>
                            </div>
                        </div>
                        <a href="#listlike" id="listlike">
                            <div class="panel-footer">
                                <span class="pull-left">Add to Music List Like</span>
                                <span class="pull-right"><i class="fa fa-plus-circle"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-refresh fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">-</div>
                                    <div>{{ home["lastsync"] }}</div>
                                </div>
                            </div>
                        </div>
                        <a href="#syncdata" id="syncdata">
                            <div class="panel-footer">
                                <span class="pull-left">Sync Data From Youtube</span>
                                <span class="pull-right"><i class="fa fa-plus-circle"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block JS %}
	<!-- jQuery -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/node_modules/metismenu/dist/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <!-- <script src="/node_modules/raphael/raphael-min.js"></script> -->
    <!-- <script src="/node_modules/morrisjs/morris.min.js"></script> -->
    <!-- <script src="/js/morris-data.js"></script> -->

    <!-- Custom Theme JavaScript -->
    <script src="/js/admin/sb-admin-2.js"></script>

    <!-- Home JavaScript -->
    <script src="/js/admin/home.js"></script>

    <!-- Logout JavaScript -->
    <script src="/js/admin/logout.js"></script>
{% endblock %}