{% extends "../index.html" %}
{% import "../../widgets/navbar/navbar.html" as navbar %}
{% import "../../widgets/copyright/copyright.html" as copyright %}

{% block title %}Revolution - About Us{% endblock %}

{% block CSS %}
    <!-- Font Lobster -->
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

	<!-- Bootstrap Core CSS -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- User CSS -->
    <link href="/css/user/style.css" rel="stylesheet">
{% endblock %}

{% block content %}
    {{ navbar.main(about_us["active_navbar"]) }}

    <div class="well">
        <div class="container text-center">
            <div class="row text-left">
                <h2 class="title">About Us</h2><hr/>
            </div>

            <div class="row panel">
                <h2>Project ini dibentuk oleh Team Revolution</h2>
                <h2>Team Revolution beranggotakan : </h2>
                <h3>Andrianto ( 13.111.0721)</h3>
                <h3>Suwandi ( 13.111.1173 )</h3>
                <h3>Alvin Yaputra ( 13.111.1033 )</h3>
                <h3>Alber Wijaya( 13.111.0747 )</h3>
                <h3>David Tjin ( 13.111.0755)</h3>
            </div>
        </div>
    </div>
    
    {{ copyright.main() }}
{% endblock %}

{% block JS %}
	<!-- jQuery -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
{% endblock %}