{% extends "../index.html" %}
{% import "../../widgets/navbar/navbar.html" as navbar %}
{% import "../../widgets/copyright/copyright.html" as copyright %}
{% import "./utils/body_content_popular_on_web/body_content_popular_on_web.html" as body_content_popular_on_web %}

{% block title %}Revolution - Popular on Web{% endblock %}

{% block CSS %}
    <!-- Font Lobster -->
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

	<!-- Bootstrap Core CSS -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- User CSS -->
    <link href="/css/user/style.css" rel="stylesheet">
{% endblock %}

{% block content %}
    {{ navbar.main(popular_on_web["active_navbar"]) }}

    {{ body_content_popular_on_web.main(popular_on_web["body_content_popular_on_web"]) }}

    {{ copyright.main() }}
{% endblock %}

{% block JS %}
	<!-- jQuery -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
{% endblock %}