{% extends "../index.html" %}
{% import "../../widgets/navbar/navbar.html" as navbar %}
{% import "../../widgets/copyright/copyright.html" as copyright %}
{% import "./utils/tab_content_music_category/tab_content_music_category.html" as tab_content_music_category %}

{% block title %}Revolution - Music Category{% endblock %}

{% block CSS %}
    <!-- Font Lobster -->
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

	<!-- Bootstrap Core CSS -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- User CSS -->
    <link href="/css/user/style.css" rel="stylesheet">
{% endblock %}

{% block content %}
    {{ navbar.main(music_category["active_navbar"]) }}

    {{ tab_content_music_category.main(music_category["tab_content_music_category"]) }}

    {{ copyright.main() }}
{% endblock %}

{% block JS %}
	<!-- jQuery -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
{% endblock %}